<template>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" :class="{ disabled: paginaActual === 1 }">
        <router-link
          :to="{ query: { pag: paginaActual - 1 } }"
          custom
          v-slot="{ navigate }"
          class="page-link"
        >
          <span @click="navigate" @keypress.enter="navigate" role="link"
            >Anterior</span
          >
        </router-link>
      </li>
      <li
        class="page-item"
        :class="{ active: paginaActual === index + 1 }"
        v-for="(pagina, index) in cantidadPaginas"
        :key="index"
      >
        <router-link
          :to="{ query: { pag: index + 1 } }"
          custom
          v-slot="{ navigate }"
          class="page-link"
        >
          <span @click="navigate" @keypress.enter="navigate" role="link">{{
            pagina
          }}</span>
        </router-link>
      </li>
      <li
        class="page-item"
        :class="{ disabled: paginaActual === cantidadPaginas }"
      >
        <router-link
          :to="{ query: { pag: paginaActual + 1 } }"
          custom
          v-slot="{ navigate }"
          class="page-link"
        >
          <span @click="navigate" @keypress.enter="navigate" role="link"
            >Siguiente</span
          >
        </router-link>
      </li>
    </ul>
  </nav>
</template>
<script>
export default {
  props: {
    paginaActual: Number,
    cantidadPaginas: Number,
  },
};
</script>