<template>
  <div id="app">
    <div>
      <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item to="/">Home</b-nav-item>
            <b-nav-item to="/tracks">Canciones</b-nav-item>
            <b-nav-item to="/favoritas">Favoritas</b-nav-item>
          </b-navbar-nav>

          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right>
              <template #button-content>
                <em>{{$store.getters.user ? $store.getters.user : 'Usuario'}}</em>
              </template>
              <b-dropdown-item href="#" v-if="!$store.getters.user" @click="login">Ingresar</b-dropdown-item>
              <b-dropdown-item href="#" v-else @click="logout">Salir</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>


        </b-collapse>
      </b-navbar>
    </div>

    <loginModal ref="loginModal"  />


    <router-view />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import loginModal from "../components/forms/loginModal.vue";
export default {
  components: {
    loginModal,
  },
  methods: {
    login() {
      this.$refs.loginModal.$bvModal.show("modal-1");
    },
    logout() {
      this.setUser("")
    },
    ...mapActions({
      setUser: "setUser",
    }),
  },
  mounted() {
    
  },
}
</script>


<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
