<template>
  <div class="container">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre canción</th>
            <th scope="col">Nombre Album</th>
            <th scope="col">Preview</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha de lanzamiento</th>
            <th scope="col">Ranking</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="!$store.getters.user">
            <td colspan="5">
              <i>Ingresa para visualizar tus canciones favoritas</i>
            </td>
          </tr>
          <tr v-else-if="!canciones.length">
            <td colspan="5">
              <i>No se encontraron canciones</i>
            </td>
          </tr>
          <tr v-else v-for="(cancion, index) in canciones" :key="index">
            <td>{{ cancion.nombre_tema }}</td>
            <td>{{ cancion.nombre_album }}</td>
            <td>
              <audio controls>
                <source :src="cancion.preview_url" />
              </audio>
            </td>
            <td>
              {{ formatPrice(cancion.precio.valor, cancion.precio.moneda) }}
            </td>
            <td>
              {{ $moment(cancion.fecha_lanzamiento).format("DD-MM-YYYY") }}
            </td>
            <td>
              <b-icon
                v-for="(star, idx) in stars"
                :key="`${idx}_star`"
                :icon="getIconRanking(star, cancion.ranking)"
                variant="warning"
                @click="setRanking(star, cancion, index)"
              ></b-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { saveRanking, getIconRanking } from "../utils/rankingFunction";
export default {
  data() {
    return {
      stars: [1, 2, 3, 4, 5],
      canciones: [],
    };
  },
  mounted() {
    this.listarCancionesFavoritas();
  },
  methods: {
    getIconRanking(star, ranking) {
      return getIconRanking(star, ranking);
    },
    async setRanking(star, cancion, index) {
      await saveRanking(this, star, cancion);

      if (!cancion.ranking) {
        this.canciones.splice(index, 1);
      }
    },
    formatPrice(price, currency) {
      return `${price} ${currency}`;
    },
    listarCancionesFavoritas() {
      if (this.$store.getters.user) {
        this.$axios
          .get("favoritos", {
            params: {
              usuario: this.$store.getters.user,
            },
          })
          .then((res) => {
            this.canciones = res.data.canciones;
          })
          .catch((e) => {
            console.log(e.response);
          });
      } else {
        this.canciones = [];
      }
    },
  },
  watch: {
    "$store.getters.user": {
      inmediate: true,
      handler() {
        this.listarCancionesFavoritas();
      },
    },
  },
};
</script>