<template>
  <div style="width: 100%">
    <nuxt />
    <searchTracks :isHome="true" @searchTracks="searchTracks" />
  </div>
</template>

<script>
import searchTracks from "../components/forms/searchTracks.vue";
import { mapActions } from "vuex";
export default {
  layout: "default",
  components: {
    searchTracks,
  },
  methods: {
    searchTracks() {
      if (this.$store.getters.artist) {
        this.$router.push({
          path: "tracks",
        });
      }
    },

    ...mapActions({
      setArtist: "setArtist",
    }),
  },
  mounted() {
    this.setArtist("")
  },
};
</script>

