<template>
  <div class="container">
    <searchTracks @searchTracks="searchTracks" />
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre canción</th>
            <th scope="col">Nombre Album</th>
            <th scope="col">Preview</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha de lanzamiento</th>
            <th scope="col" v-if="$store.getters.user">Ranking</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="!search && !canciones.length">
            <td colspan="5">
              <i>Ingrese una banda o artista</i>
            </td>
          </tr>
          <tr v-if="search && !canciones.length">
            <td colspan="5">
              <i>No se encontraron canciones</i>
            </td>
          </tr>
          <tr v-for="(cancion, index) in canciones" :key="index">
            <td>{{ cancion.nombre_tema }}</td>
            <td>{{ cancion.nombre_album }}</td>
            <td>
              <audio controls>
                <source :src="cancion.preview_url" />
              </audio>
            </td>
            <td>
              {{ formatPrice(cancion.precio.valor, cancion.precio.moneda) }}
            </td>
            <td>
              {{ $moment(cancion.fecha_lanzamiento).format("DD-MM-YYYY") }}
            </td>
            <td v-if="$store.getters.user">
              <b-icon
                v-for="(star, index) in stars"
                :key="index"
                :icon="getIconRanking(star, cancion.ranking)"
                variant="warning"
                @click="setRanking(star, cancion)"
              ></b-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <Pagination
        :cantidadPaginas="cantidadPaginas"
        :paginaActual="paginaActual"
      />
    </div>
  </div>
</template>

<script>
import { saveRanking, getIconRanking } from "../utils/rankingFunction";
import searchTracks from "../components/forms/searchTracks.vue";
import Pagination from "../components/Pagination.vue";
export default {
  components: {
    Pagination,
    searchTracks,
  },
  data() {
    return {
      stars: [1, 2, 3, 4, 5],
      search: "",
      canciones: [],
      totalCanciones: 0,
      limite: 25,
      paginaActual: 1,
    };
  },
  mounted() {
    this.listarCanciones();
  },
  computed: {
    cantidadPaginas() {
      return Math.ceil(this.totalCanciones / this.limite);
    },
  },
  methods: {
    getIconRanking(start, ranking) {
      return getIconRanking(start, ranking);
    },
    async setRanking(star, cancion) {
      await saveRanking(this, star, cancion);
      this.$forceUpdate();
    },
    searchTracks() {
      this.$router.push({
        query: {
          pag: 1,
        },
      });
      this.listarCanciones();
    },
    formatPrice(price, currency) {
      return `${price} ${currency}`;
    },
    listarCanciones(pag = 1) {
      if (this.$store.getters.artist) {
        this.$axios
          .get("search_tracks", {
            params: {
              page: pag,
              size: this.limite,
              name: this.$store.getters.artist,
              usuario: this.$store.getters.user,
            },
          })
          .then((res) => {
            this.canciones = res.data.canciones;
            this.totalCanciones = res.data.total_canciones;
          })
          .catch((e) => {
            console.log(e.response);
          });
      }
    },
  },
  watch: {
    "$route.query.pag": {
      inmediate: true,
      handler(pag) {
        pag = parseInt(pag) || 1;
        this.listarCanciones(pag);
        this.paginaActual = pag;
      },
    },
  },
};
</script>