<template>
  <div>
    <b-modal
      id="modal-1"
      ref="modal"
      title="Ingrese su numbre"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Nombre"
          label-for="name-input"
          invalid-feedback="El nombre es requerido"
          :state="nameState"
        >
          <b-form-input
            id="name-input"
            v-model="name"
            :state="nameState"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: {
    forceLogin: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      name: "",
      nameState: null,
    };
  },
  methods: {
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      this.nameState = valid;
      return valid;
    },
    resetModal() {
      this.name = "";
      this.nameState = null;
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    handleSubmit() {
        this.setUser(this.name)
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return;
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide("modal-1");
      });

      this.$emit("login")
    },
    ...mapActions({
      setUser: "setUser",
    }),
  },
  mounted() {
    if (this.forceLogin && !this.$store.getters.user) {
      this.$bvModal.show("modal-1");
    }
  },
};
</script>