<template>
  <div class="center-form">
    <form
      @submit.prevent="searchTracks"
      :class="[
        {
          'home-form': isHome,
          'table-form': !isHome,
        },
      ]"
    >
      <h3>Buscar canciones por banda o artista</h3>
      <input
        type="text"
        class="form-control my-2"
        placeholder="radiohead"
        v-model="search"
      />
    </form>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  props: {
    isHome: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      search: "",
    };
  },
  mounted() {
    if (this.$store.getters.artist) {
      this.search = this.$store.getters.artist;
      if (!this.isHome) {
        this.$emit("searchTracks");
      }
    }
  },
  methods: {
    searchTracks() {
      this.setArtist(this.search);
      this.$emit("searchTracks");
    },
    ...mapActions({
      setArtist: "setArtist",
    }),
  },
  watch: {
    "$store.getters.artist": {
      inmediate: true,
      handler(artist) {
        this.search = artist;
      },
    },
  },
};
</script>
<style scoped>
.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-form {
  width: 50%;
  position: fixed;
  top: 40%;
}
.table-form {
  padding: 50px;
}
</style>